body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFBFB;
 font-family: 'Montserrat', sans-serif;
}

#header{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 90px;
  margin: 100px;
}

.box{
  margin-top: 25px;
  height : 330px;
  width: 450px;
  border-radius: 20px;
  border-top-left-radius: 63px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.511);
 
}
.image-box{
  display: flex;
  justify-content: center;
  align-items: center ;
  background-color: #D7CACA;
  height: 123px;
  width: 143px;
  border-top-left-radius: 63px;
  border-bottom-left-radius: 63px;
  border-bottom-right-radius: 63px;
  border-top-right-radius: 0px;
}
img{
  background-color: #D7CACA;
  height: 90px;
  width: 90px;


}

.content{
  display: flex;
  flex-direction: column;
  padding: 0px 25px 10px 25px;
}

.content h3{
  margin: 0;
  font-size: 35px;
  padding-top: 15px;

 
}

.content p{
  margin: 10px 0 0 0;
  font-size: 18px;
  width: 385px;
  letter-spacing: 0px;

   
}

#header h2{
  margin: 0;
  margin-top: 15px;
  font-size: 60px;
  text-align: center;
  width: 950px;
  height: 75px;
}

#header p{

  font-size: 30px;
  width: 800px;
  height: 74px;
  text-align: center;
  letter-spacing: -1px;
}