body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: #222;
  overflow-x: hidden;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(120deg, #ffcc00, #ffd84d);
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  margin: 0;
}

.footer {
  height: 100vh;
  background: #111;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
